.header{
    display: flex;
    background-color: rgb(2, 20, 38);
    color: whitesmoke;
    justify-content: center;
    font-size: x-large;
    box-shadow: grey 1px 1px 10px;
}

.headerDivision{
    display: flex;
}

.headerItem{
    margin: 15px;
    text-decoration:none ;
    color:aliceblue
}